@import "tailwindcss";

:root {
   --background: #ffffff;
   --foreground: #111111;
   --accent: #de4a4a;
   --link-hover: #f6f6f6;
}

@theme {
   --color-background: var(--background);
   --color-foreground: var(--foreground);
   --color-accent: var(--accent);
   --color-link-hover: var(--link-hover);
<<<<<<< HEAD
=======
}

button {
   @apply cursor-pointer;
>>>>>>> a4b925b (commit)
}

body {
   background-color: var(--background);
   color: var(--foreground);
}